body {
    background-color: #303030;
    color: #e6e6e6;
}

#text h1 {
    font-size: 95px;
    letter-spacing: 5px;
    transition-duration: 0.5s;
    width: 460px;
}

#text h1:hover {
    letter-spacing: 12px;
    transition-duration: 0.5s;
}


* {
    margin: 0;
    padding: 0;
    Font-family: pixel;
}

@font-face {
    font-family: 'pixel';
    src: url(advanced_pixel-7.ttf);
}

#text {
    margin-left: 11.25%;
    margin-top: 12.5%;
}

#text h2 {
    font-size: 40px;
}


#paragraph {
    width: 700px;
    font-size: 30px;
}

#navigation {
    background-color: #303030;
    color: #e6e6e6;
    padding-top: 7px;
    padding-bottom: 10px;
}

#navigation img {
    padding-left: 0px;
}

ul {
    list-style-type: none;
}

#duckdancing, #text {
    display: inline;
    float: left;
}

#duckdancing {
    margin-left: 100px;
    margin-top: 145px;
}

.intro, .name {
    animation-name: fadeIn;
    --animate-duration: 1s;
}

.aboutmepara {
    animation-name: fadeIn;
    --animate-duration: 1s;
}

.duckdance {
    animation-name: bounceIn;
    --animate-duration: 2s;
}

.navigationbar {
    animation-name: slideInDown;
    --animate-duration: 1s;
}

#about {
    margin-left: 910px;  
}

#skills {
    margin-left: 1045px;
}

#projects {
    margin-left: 1180px;
}

#contact {
    margin-left: 1315px;
}

#navigation a {
    text-decoration: none;
    color: #e6e6e6;
    background-color: #303030;
    font-size: 30px;
    transition-duration: .5s;
    top: 10%;
    position: absolute;
    padding: 10px 25px;
    cursor: pointer;
}

#navigation a:hover {
    background-color: #202020;
    transition-duration: .5s;
}

#aboutme {
    align-items: center;
    text-align: center;
}

#aboutme h1 {
    margin-top: 30px;
    font-size: 100px;
}

#skillssection h1 {
    font-size: 100px;
}

#skillsssection img {
    margin: 30px;
}

#aboutme p {
    font-size: 40px;
}

#aboutmepara {
    width: 900px;
}


/*#notfl:hover {
    width: 300px;
    height: 300px;
    transition-duration: .5s;
}

#notfl {
    width: 250px;
    height: 250px;
    transition-duration: .5s;
}

#fl:hover {
    width: 278.5;
    height: 336;
    transition-duration: .5s;
}

#fl {
    width: 232;
    height: 280;
    transition-duration: .5s;
}*/

#unity, #fl {
    transform: scale(1);
    transition-duration: .5s; 
}

#unity:hover, #fl:hover {
    transform: scale(1.3);
    transition-duration: .5s; 
}